:root {
  --fuenteHeading: "Ubuntu", sans-serif;
  --fuenteEnlaces: "Ubuntu", sans-serif;

  --primario: hsl(14, 52%, 94%);

  --negro: #000000;
  --gris-primario: #363636;
  --gris-secundario: #f8f8f8;
  --gris-terciario: #161616;
  --gris-cuarto: #e7e7e7;
  --gris-quinto: #929292;

  --blanco: #ffffff;

  --azul: rgba(236, 240, 240, 0.952);
  --azul-primario: rgb(117, 169, 230);

  --hoverColor: rgb(214, 120, 135);
}

html {
  font-size: 62.5%; /*1 rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
  font-weight: 700 !important;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}

/* Para etiqueta parrafo */

p {
  color: var(--gris-primario);
  font-family: sans-serif;
}

.text-bold {
  font-size: 2.2rem;
}

.text-medium {
  font-size: 2rem;
}

.text-normal {
  font-size: 1.6rem !important;
}

/* fin </p> */

img {
  width: 100%;
}

.content-size {
  width: 85%;
  margin: auto;
  max-width: 1400px;
}

.centrar-texto {
  text-align: center;
}

.left-text {
  text-align: left !important;
}

.contenido-padding {
  padding: 7rem 0;
}

.boton {
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-family: var(--fuenteEnlaces);
  font-size: 1.5rem;
  background-color: var(--blanco);
  border-style: none;
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  margin-top: 2rem;
  text-transform: uppercase;
}

.boton:hover {
  color: var(--hoverColor);
  transition: color 0.1s linear 0.2s;
}

.boton-submit {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border-radius: 5rem;
  text-transform: uppercase;
  border-style: none;
  background-color: var(--azul-primario);
  color: var(--blanco);
  cursor: pointer;
}

.mayus {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.album__image {
  position: relative;
}

.album__image-hover {
  display: none;
}

.album__image:hover > .album__image-hover {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--blanco);
}

.spinner {
  display: flex;
  justify-content: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #000;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #000;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.link {
  text-decoration: none;
  color: var(--gris-primario);
}

.link:hover {
  color: var(--hoverColor);
  transition: color 0.1s linear 0.2s;
}

.mrg-bottom {
  margin-bottom: 5rem !important;
}

/* Estilos para el navbar*/
.header {
  background-color: var(--primario);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
  width: 97%;
  max-width: 1400px;
}

.nav__logo {
  display: flex;
}

.nav__links {
  display: flex;
}

.nav__link {
  text-decoration: none;
  color: var(--negro);
  font-family: var(--fuenteEnlaces);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 2rem;
}

.nav__link:hover {
  text-decoration: none;
  color: var(--hoverColor);
  transition: color 0.1s linear 0.2s;
}

.nav__social {
  font-size: 1.8rem;
  color: var(--gris-primario);
  display: flex;
  gap: 2rem;
}

.dropdown {
  display: flex;
}

.dropdown_sub {
  display: none;
  position: absolute;
  min-width: 140px;
}

.dropdown__link {
  text-decoration: none;
  color: var(--negro);
  font-family: var(--fuenteEnlaces);
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.dropdown__link:hover {
  text-decoration: none;
  color: var(--hoverColor);
  transition: color 0.1s linear 0.1s;
}

.dropdown:hover > div {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  background-color: var(--blanco);
  padding: 2rem;
  min-width: 20rem;
  transition: all 10s linear 10s;
}

/* Fin del nav */

.main {
  width: 100%;
}

/* Estilos para la vista Home*/

.welcome {
  background-color: var(--primario);
  padding-bottom: 20rem;
}

.slide__img {
  position: relative;
  bottom: 20rem;
  margin-bottom: -20rem;
}

.specialities {
  background-color: var(--gris-secundario);
}

.specialities__content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4rem;
}

.specialities__article {
  grid-column: 1/5;
}

.specialities__img {
  grid-column: 5/11;
}

.aboutme {
  background-color: var(--azul);
}

.aboutme__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 4rem;
}

.aboutme__img {
  grid-row: 1/2;
}

.something {
  background-color: var(--azul);
  padding: 0;
}

.something__content {
  position: relative;
  background-image: url(../images/img_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: inherit;
  height: 45rem;
}

.something__image {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--blanco);
}

.journal {
  background-color: var(--gris-secundario);
}

.journal__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.journal__publication {
  background-color: var(--blanco);
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.11);
}

.journal__content {
  padding: 1rem 2rem;
}

.journal__type {
  text-transform: uppercase;
  color: var(--gris-quinto);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.journal__title {
  padding-top: 2rem;
}

.journal__text {
  padding-bottom: 2rem;
}

.journal__data {
  display: flex;
  justify-content: space-between;
  color: var(--gris-quinto);
  font-size: 1.4rem;
  padding: 1rem 0;
  border-top: 1px solid var(--gris-cuarto);
}

/* Fin de home */

/* Estilos para la vista Contact */

.contact {
  background-color: var(--gris-secundario);
}

.contactForm {
  width: 750px;
  margin: auto;
}

.contactForm__comunication {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.comunication__icon {
  font-size: 4rem;
  color: var(--azul-primario);
}

.comunication__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.form-input {
  border-radius: 5rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-style: none;
  background-color: var(--gris-cuarto);
  color: var(--negro);
  font-family: sans-serif;
  font-size: 1.6rem;
  outline: none;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form__message {
  width: 100%;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  resize: none;
  border-style: none;
  background-color: var(--gris-cuarto);
  color: var(--negro);
  font-family: sans-serif;
  font-size: 1.6rem;
  outline: none;
}

/* Fin de contact */

/* Estilos para gallery */

.gallery {
  background-color: var(--gris-secundario);
}

.gallery__title {
  padding-bottom: 5rem;
}

.album__container {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.album {
  padding: 1.5rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.11);
}

.album__title {
  text-align: center;
  color: var(--gris-primario);
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.album__title-style {
  font-family: sans-serif;
}

/* Fin de gallery */

/* Estilos para el footer */

.footer {
  width: 100%;
  background-color: var(--gris-terciario);
}

.footer__information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  padding-bottom: 3rem;
}

.post__perfil {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.post__information {
  font-family: sans-serif;
  font-size: 1.2rem;
}

.post__information div {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.categorie__list {
  column-count: 2;
  font-family: sans-serif;
  padding-left: 2rem;
}

.footer__tags {
  padding-bottom: 3rem;
}

.footer__touch {
  font-family: sans-serif;
  padding-bottom: 3rem;
}

.elsewhere__icons {
  display: flex;
  gap: 2rem;
  font-size: 1.7rem;
}

.footer__more {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.footer__link:hover {
  text-decoration: none;
  color: var(--hoverColor);
  transition: color 0.1s linear 0.2s;
}

.footer__help {
  display: flex;
  flex-direction: column;
}

.footer__allRights {
  text-align: center;
  color: var(--blanco);
}

.footer__copy {
  font-family: sans-serif;
  font-size: 1.6rem;
}
/* Fin del footer */

/* Estilos para Slider */

.slider {
  width: 100% !important;
}

.slick-slide {
  margin: 0 0.9rem 5rem;
}

.slick-slide img {
  width: 100%;
}

.slick-next {
  color: black;
  background-color: black;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.8;
}

.slick-current {
  opacity: 1;
}
