<div class="contact contenido-padding">
    <div class="contact__content content-size">
        <div class="contactForm">
            <form action="">
                <h2 class="centrar-texto">Get In Touch</h2>
                <div>
                    <p class="centrar-texto text-normal">
                        Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.
                    </p>
                </div>
                <div class="contactForm__comunication">
                    <div class="comunication__data">
                        <span><i class="far fa-map comunication__icon"></i></span>
                        <span class="text-normal">Moon Street Light Avenue</span>
                        <span class="text-normal">14/05 Jupiter, JP 80630</span>
                    </div>
                    <div class="comunication__data">
                        <span><i class="fas fa-phone-square comunication__icon"></i></span>
                        <span class="text-normal">00 (123) 456 78 90</span>
                        <span class="text-normal">00 (987) 654 32 10 </span>
                    </div>
                    <div class="comunication__data">
                        <span><i class="far fa-envelope comunication__icon"></i></span>
                        <span class="text-normal">manager@email.com</span>
                        <span class="text-normal">asistant@email.com</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Your name" required>
                    <input type="email" class="form-input" placeholder="Your e-mail" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" placeholder="Phon">
                    <input type="text" class="form-input" placeholder="Subject">
                </div>
                <div>
                    <textarea class="form__message" rows="10" placeholder="Type yout message here..."
                        required></textarea>
                </div>
                <div class="form-submit">
                    <input type="submit" class="boton-submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>