<div class="contact contenido-padding">
    <div class="contact__content content-size">
        <div class="contactForm">
            <form action="">
                <h2 class="centrar-texto">Git In Touch</h2>
                <div>
                    <p class="centrar-texto">
                        Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.
                    </p>
                </div>
                <div>
                    <div>
                        <div>
                            <span><i class="far fa-map"></i></span>
                            <span>Moon Street Light Avenue</span>
                            <span>14/05 Jupiter, JP 80630</span>
                        </div>
                        <div>
                            <span><i class="fas fa-phone-square"></i></span>
                            <span>00 (123) 456 78 90</span>
                            <span>00 (987) 654 32 10 </span>
                        </div>
                        <div>
                            <span><i class="far fa-envelope"></i></span>
                            <span>manager@email.com</span>
                            <span>asistant@email.com</span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <input type="text">
                            <input type="email">
                        </div>
                        <div class="form-group">
                            <input type="text">
                            <input type="text">
                        </div>
                        <div>
                            <textarea name="" id="" cols="30" rows="10"
                                placeholder="Type yout message here..."></textarea>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn-submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>