<div class="footer contenido-padding">
    <div class="content-size">
        <div class="footer__information">
            <div>
                <h3>Popular posts</h3>
                <div>
                    <div class="post__perfil">
                        <div>
                            <img src="img/perfil__01.jpg" alt="">
                        </div>
                        <div class="post__information">
                            <h4>Magna Mollis Ornare</h4>
                            <div><span>12 NOV 2014</span> / <i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post__perfil">
                        <div>
                            <img src="img/perfil__02.jpg" alt="">
                        </div>
                        <div class="post__information">
                            <h4>Magna Mollis Ornare</h4>
                            <div><span>12 NOV 2014</span> / <i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post__perfil">
                        <div>
                            <img src="img/perfil__03.jpg" alt="">
                        </div>
                        <div class="post__information">
                            <h4>Magna Mollis Ornare</h4>
                            <div><span>12 NOV 2014</span> / <i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="footer__tags">
                    <h3>Tags</h3>
                    <div>
                        <button class="btn">Still life</button>
                        <button class="btn">Urban</button>
                        <button class="btn">Nature</button>
                        <button class="btn">Landscape</button>
                    </div>
                </div>
                <div class="footer__categories">
                    <h3>Categories</h3>
                    <ul class="categorie__list">
                        <li>Lifestyle</li>
                        <li>Photo</li>
                        <li>Journal</li>
                        <li>Works</li>
                        <li>Still Life</li>
                        <li>Travel</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="footer__touch">
                    <h3>Get in Touch</h3>
                    <div>
                        <strong>Mission, Inc.</strong><br>
                        Moon Street Light Avenue, 14/05
                        <br>
                        Jupiter, JP 80630
                        <br>
                        P: 00 (123) 456 78 90
                        <br>
                        E: mission@emai.com
                    </div>
                </div>
                <div class="footer__elsewhere">
                    <h3>Elsewhere</h3>
                    <div class="elsewhere__icons">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-vimeo-v"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
            <div>
                <div class="footer__more">
                    <h3>Learn More</h3>
                    <a href="#" class="footer__link">About Us</a>
                    <a href="#" class="footer__link">Our Story</a>
                    <a href="#" class="footer__link">Projects</a>
                </div>
                <div class="footer__help">
                    <h3>Need Help ? </h3>
                    <a href="#" class="footer__link">Support</a>
                    <a href="#" class="footer__link">Get Started</a>
                    <a href="#" class="footer__link">ContactUs</a>
                </div>
            </div>
        </div>
        <div class="footer__allRights centrar-texto">
            <span class="footer__copy">&copy; 2019 Missio. All rights reserved</span>
        </div>
    </div>
</div>