<div class="footer contenido-padding">
    <div class="content-size">
        <div class="footer__information">
            <div>
                <h2>Popular posts</h2>
                <div>
                    <div class="post__perfil">
                        <div>
                            <img src="images/perfil__01.jpg" alt="">
                        </div>
                        <div class="post__information">
                            <h4>Magna Mollis Ornare</h4>
                            <div><span>12 NOV 2014</span> / <i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post__perfil">
                        <div>
                            <img src="images/perfil__02.jpg" alt="">
                        </div>
                        <div class="post__information">
                            <h4>Magna Mollis Ornare</h4>
                            <div><span>12 NOV 2014</span> / <i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post__perfil">
                        <div>
                            <img src="images/perfil__03.jpg" alt="">
                        </div>
                        <div class="post__information">
                            <h4>Magna Mollis Ornare</h4>
                            <div><span>12 NOV 2014</span> / <i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="footer__tags">
                    <h2>Tags</h2>
                    <div>
                        <button class="boton">Still life</button>
                        <button class="boton">Urban</button>
                        <button class="boton">Nature</button>
                        <button class="boton">Landscape</button>
                    </div>
                </div>
                <div class="footer__categories">
                    <h2>Categories</h2>
                    <ul class="categorie__list">
                        <li class="text-normal">Lifestyle</li>
                        <li class="text-normal">Photo</li>
                        <li class="text-normal">Journal</li>
                        <li class="text-normal">Works</li>
                        <li class="text-normal">Still Life</li>
                        <li class="text-normal">Travel</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="footer__touch">
                    <h2>Get in Touch</h2>
                    <div class="text-normal">
                        <strong>Mission, Inc.</strong><br>
                        Moon Street Light Avenue, 14/05
                        <br>
                        Jupiter, JP 80630
                        <br>
                        P: 00 (123) 456 78 90
                        <br>
                        E: mission@emai.com
                    </div>
                </div>
                <div class="footer__elsewhere">
                    <h3>Elsewhere</h2>
                        <div class="elsewhere__icons">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-pinterest"></i>
                            <i class="fab fa-vimeo-v"></i>
                            <i class="fab fa-instagram"></i>
                        </div>
                </div>
            </div>
            <div>
                <div class="footer__more">
                    <h2>Learn More</h2>
                    <a href="#" class="footer__link">About Us</a>
                    <a href="#" class="footer__link">Our Story</a>
                    <a href="#" class="footer__link">Projects</a>
                </div>
                <div class="footer__help">
                    <h2>Need Help ? </h2>
                    <a href="#" class="footer__link">Support</a>
                    <a href="#" class="footer__link">Get Started</a>
                    <a href="#" class="footer__link">ContactUs</a>
                </div>
            </div>
        </div>
        <div class="footer__allRights centrar-texto">
            <span class="footer__copy">&copy; 2019 Missio. All rights reserved</span>
        </div>
    </div>
</div>