<div class="gallery contenido-padding" ng-controller="galeria">
    <div class="content-size">
        <div class="gallery__title centrar-texto ">
            <h1>Hi, This Is Missio</h1>
            <p class="text-bold">Wedding, Fashion, Event Photographer</p>
        </div>
        <div class="album__container" ng-hide="!albums.length">
            <div class="album" ng-repeat="album in albums">
                <div class="album__content">
                    <div class="album__image">
                        <div class="album__image-hover">
                            <h4 class="mayus">See galery</h4>
                        </div>
                        <img src="{{album.url}}" alt="">
                    </div>
                    <div class="album__title">
                        <span class="album__title-style">
                            {{album.title.slice(0,20)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!albums.length" class="spinner">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>