<div class="container">
    <div class="welcome contenido-padding">
        <div class="welcome__container content-size">
            <h2 class="centrar-texto">WELCOME! I'M CAITLYN</h2>
            <P class="centrar-texto">I'm freelance photographer specializing in people & portrait photography, based in
                <br> London. Photography is my passion and I love to turn ideas into beautiful things. <br> Looking for
                a caring, fun, passionate and creative photographer? It's me!
            </P>
        </div>
    </div>
    <div class="specialities contenido-padding">
        <div class="specialities__container content-size">
            <div>
                <p class="centrar-texto">
                    I'd like to give you a unique photography experience, capturing your <br>
                    portraits with excellent composition and lighting skills.
                </p>
            </div>
            <div class="specialities__content">
                <div class="specialities__article">
                    <h2 class="centrar-texto">MY SPECIALITIES</h2>
                    <p>
                        I'm passionate about photography & it becomes quite obvious in the way I create portraits
                    </p>
                    <p>
                        Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras
                        mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia
                        quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus.
                    </p>
                    <button class="btn">CHECK MY GALLERY</button>
                </div>
                <div class="specialities__img">
                    <img src="img/img_01.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutme"></div>
    <div class="shots"></div>
    <div class="journal"></div>
</div>