<div class="header">
    <div class="nav">
        <div class="nav__logo">
            <img src="img/logo.png" alt="Logo de la galeria">
        </div>
        <div class="navegacion">
            <a href="#!" class="navegacion__enlace">Home</a>
            <a href="#!galeria" class="navegacion__enlace">Gallery</a>
            <a href="#!contacto" class="navegacion__enlace">Contact</a>
        </div>
        <div class="nav__redes">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-vimeo-v"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div>